<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"/>
    </head>
    <body>
        <div class = "center">
            <table>
                {% for x in range(9) %}
                <tr>
                    {% for y in range(9) %}
                    <td class = "color_{{ (x * 9 + y) % 2 }}">
                        <div class = "inner" id = "tile_{{ x * 9 + y }}">
                        
                        </div>
                        {% for z in range(9) %}
                            <div class = "guess g{{z}}">
                                {{z + 1}}
                            </div>
                        {% endfor %}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </body>
</html>